<div class="container-fluid">
  <div class="row settings">

  <div class="col-10 text-left align-self-top">
    <p class="navbar-brand">{{categoryName}}</p>
    <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="showStat">Hide statistic</p>
    <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="!showStat">Show statistic</p>
  </div>

  <div class="col-2 text-right align-self-top">
    <button mat-icon-button class="header-icon" (click)="showSettings()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
      <mat-ico>help</mat-ico>
    </button>
  </div>
  </div>
</div>
