<div *ngIf="showStat">
  <div class="row">
    <app-statistic-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Completed tasks"
      iconName="done"
      [count1]="completeTasksInCategory"
      [countTotal]="totalTasksInCategory"
      [completed]="true"
      ></app-statistic-card>

    <app-statistic-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Uncompleted tasks"
      iconName="thumb_down_alt"
      [count1]="uncompleteTasksInCategory"
      [countTotal]="totalTasksInCategory"
    ></app-statistic-card>

    <app-statistic-card
      class="col-lg-3 col-md-6 col-sm-6 completed-card"
      title="Percent completed tasks"
      iconName="poll"
      [count1]="completeTasksInCategory ? (completeTasksInCategory/totalTasksInCategory | percent) : '0%'"
      [completed]="true"
    ></app-statistic-card>

    <app-statistic-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Percent uncompleted tasks"
      iconName="thumb_down_alt"
      [count1]="uncompleteTasksInCategory ? (uncompleteTasksInCategory/totalTasksInCategory | percent) : '0%'"
    ></app-statistic-card>
  </div>
</div>
