<ng-sidebar-container style="height: 100vh">
  <ng-sidebar
    [opened]="menuOpened"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="true"
    [showBackdrop]="showBackdrop"
    [mode]="menuMode"
    [animate]="true"
    [position]="menuPosition"
    [autoFocus]="false"
    (onClosed)="onClosedMenu()">

 <div class="sidebar"
 data-color="purple"
 data-step="1"
 data-intro="Filtering tasks, add/delete/redact categories"
 data-position="right">
  <app-categories (selectCategory)="onSelectCategory($event)"
                  (deleteCategory)="onDeleteCategory($event)"
                  (updateCategory)="onUpdateCategory($event)"
                  (addCategory)="onAddCategory($event)"
                  (searchCategory)="onSearchCategory($event)"
                  [selectedCategory]="selectedCategory"
                  [categories]="categories"
                  [categoryMap]="categoryMap"
                  [uncompletedTotal]="uncompletedTotalTasksCount"></app-categories>
 </div>
  </ng-sidebar>
  <div ng-sidebar-content>
    <div class="main-panel">
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
      <app-header
        [categoryName]="selectedCategory ? selectedCategory.title : 'All'"
        (toggleStat)="toggleStat($event)"
        [showStat]="showStat"
      (toggleMenu)="toggleMenu()"></app-header>
      <!-- End Navbar -->
     </nav>
      <div class="content">
        <div class="container-fluid">
          <div data-step="2"
             data-intro="List all tasks with oppornity to redact and search"
             data-position="bottom">
        <app-statistic
          [totalTasksInCategory]="totalTasksCountInCategory"
          [completeTasksInCategory]="completedCountInCategory"
          [uncompleteTasksInCategory]="uncompletedCountInCategory"
          [showStat]="showStat"></app-statistic>
        </div>
        <div class="row">

          <div class="col-12"  >
            <app-tasks
              (updateTask)="onUpdateTask($event)"
              (deleteTask)="onDeleteTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (addTask)="onAddTask($event)"
              [selectedCategory]="selectedCategory"
              (filterByStatus)="onFilterTasksByStatus($event)"
              (filterByPriority)="onFilterTasksByPriority($event)"
              (filterByTitle)="onSearchTasks($event)"
              [tasks]="tasks"
              [priorities]="priorities"
            ></app-tasks>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  </div>
</ng-sidebar-container>
