<div class="wrapper ">
<app-categories (selectCategory)="onSelectCategory($event)"
                (deleteCategory)="onDeleteCategory($event)"
                (updateCategory)="onUpdateCategory($event)"
                (addCategory)="onAddCategory($event)"
                (searchCategory)="onSearchCategory($event)"
                [selectedCategory]="selectedCategory"
                [categories]="categories"></app-categories>

  <div class="main-panel">
    <!-- Navbar -->
<app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
<app-statistic
[totalTasksInCategory]="totalTasksCountInCategory"
[completeTasksInCategory]="completedCountInCategory"
[uncompleteTasksInCategory]="uncompletedCountInCategory"></app-statistic>
        <div class="row">

          <div class="col-12">
         <app-tasks
                    (updateTask)="onUpdateTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                    (selectCategory)="onSelectCategory($event)"
                    (addTask)="onAddTask($event)"
                    [selectedCategory]="selectedCategory"
                    (filterByStatus)="onFilterTasksByStatus($event)"
                    (filterByPriority)="onFilterTasksByPriority($event)"
                    (filterByTitle)="onSearchTasks($event)"
                    [tasks]="tasks"
                    [priorities]="priorities"
         ></app-tasks>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>
  </div>
</div>


