<div class="row">
  <div class="col-md-3 col-sm-12">
    <!--search tasks-->
    <mat-form-field>
      <input
      #filterInput
      (keydown.escape)="searchTaskText = ''; onFilterByTitle()"
      (keyup)="onFilterByTitle()"
      [(ngModel)]="searchTaskText"
      matInput placeholder="Search in current category">
      <button
      (click)="searchTaskText = ''; onFilterByTitle()"
      *ngIf="filterInput.value.trim().length > 0"
      aria-label="Clear" class="clear-icon size25 gray" mat-button mat-icon-button matSuffix>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-3 col-sm-12">
    <!--filter by status-->
    <mat-form-field>
      <mat-select #statusFilter (valueChange)="onFilterByStatus($event)"
          [value]="selectedStatusFilter" placeholder="Filter by status">
        <mat-option [value]="null">All status</mat-option>
        <mat-option [value]="true">Completed tasks</mat-option>
        <mat-option [value]="false">Unfinished tasks</mat-option>
      </mat-select>
      <button *ngIf="selectedStatusFilter != null"
        aria-label="Clear" class="clear-icon size25 gray" mat-button mat-icon-button matSuffix
        (click)="$event.stopPropagation(); onFilterByStatus(null)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-3 col-sm-12">
    <!--filter by priority-->
    <mat-form-field>
      <mat-select
        [value]="selectedPriorityFilter"
          (valueChange)="onFilterByPriority($event)" placeholder="Filter by priority">
        <mat-option [value]="null">All priorities</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority.title}}</mat-option>
      </mat-select>
      <button
        *ngIf="selectedPriorityFilter != null"
        aria-label="Clear" class="clear-icon size25 gray" mat-button mat-icon-button matSuffix
        (click)="$event.stopPropagation(); onFilterByPriority(null);">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-3 col-sm-12">
    <!--search tasks4-->
    <div class="row padding-top-20">
      <div class="text-left  col-5">
        <button class="nopadding-left"
          *ngIf="selectedStatusFilter != null || selectedPriorityFilter != null || (searchTaskText != null && searchTaskText.trim() !== '')"
          (click)="$event.stopPropagation(); onFilterByStatus(null); onFilterByPriority(null); searchTaskText = ''; onFilterByTitle()"
          aria-label="Clear" mat-button matSuffix>
         Clear filters
        </button>
      </div>
      <div class="text-right col-7">
        <button mat-raised-button color="primary" (click)="openAddTaskDialog()">Add</button>
      </div>
    </div>
  </div>

<!-- TASKS-->
<div class="col-md-12 task-list">
<div class="card" *ngIf="!isMobile">
  <div class="card-header card-header-warning">
    <h4 class="card-title indexx">Task list</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0">
   <table [dataSource]="dataSource" mat-table matSort>
     <!-- priority color-->
     <ng-container matColumnDef="color">
       <th *matHeaderCellDef mat-header-cell></th>
       <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)" mat-cell></td>
     </ng-container>
     <!-- numbers-->
     <ng-container matColumnDef="id">
       <th *matHeaderCellDef mat-header-cell></th>
       <td class="col-id" *matCellDef="let index = index;" mat-cell>
         {{index+1}}
       </td>
     </ng-container>

     <!--task title-->
     <ng-container matColumnDef="title">
       <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
       <td class="col-title pointer"  mat-cell
       (click)="openEditTaskDialog(task)" *matCellDef="let task" [class.completed]="task.completed">
         {{task.title}}
       </td>
     </ng-container>
     <!--data-->
     <ng-container matColumnDef="date">
       <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
       <td class="col-date" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue' : task.date == null}" mat-cell>
         {{task.date |taskDate}}
       </td>
     </ng-container>
     <!--priority-->
     <ng-container matColumnDef="priority">
       <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
       <td class="col-priority" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue' : task.priority == null}" mat-cell>
         {{task.priority ? task.priority.title : "without priority"}}
       </td>
     </ng-container>
     <!--category-->
     <ng-container matColumnDef="category">
       <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
       <td class="col-category" *matCellDef="let task"
           [ngClass]="{'completed': task.completed, 'novalue' : task.category == null, 'link' : !task.completed && task.category}"
           (click)="!task.completed && task.category && onSelectCategory(task.category)" mat-cell>
         {{task.category ? task.category.title : "without category"}}
       </td>
     </ng-container>
     <!-- action with task-->
     <ng-container matColumnDef="operations">
       <th mat-header-cell *matHeaderCellDef></th>
       <td class="col-operations" mat-cell *matCellDef="let task"
       [class.completed]="task.completed">
         <button mat-icon-button (click)="openDeleteDialog(task)" class="delete-icon">
           <mat-icon aria-hidden="false">delete</mat-icon>
         </button>
         <button mat-icon-button (click)="openEditTaskDialog(task)" class="edit-icon">
           <mat-icon aria-hidden="false">edit</mat-icon>
         </button>
       </td>
     </ng-container>
<!--active task-->
     <ng-container matColumnDef="select">
       <th mat-header-cell *matHeaderCellDef></th>
       <td class="col-select text-right" mat-cell *matCellDef="let task">
         <mat-checkbox (click)="$event.stopPropagation()"
                       (change)="$event ? onToggleStatus(task) : null"
                        [checked]="task.completed">

         </mat-checkbox>
       </td>
     </ng-container>
     <!--table header-->
     <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
     <!--columns-->
     <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
   </table>
<mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="tasks && tasks.length == 0"><p class="not-found">Not Found</p></div>
</div>
  <div *ngIf="isMobile && tasks.length > 0">
    <div *ngFor="let task of tasks; let index = index;"
         [ngClass]="{'completed': task.completed}">
      <div class="card card-mobile"  (click)="$event.stopPropagation(); openEditTaskDialog(task)"
           [ngClass]="{'background-completed': task.completed}">
        <div [ngClass]="{'background-completed': task.completed}"
             [style.background-color]="getPriorityColor(task)" class="mobile-priority-top">
        </div>
        <div class="row">
          <div class="mobile-title-inner col-9 col-md-10 align-top">
            <div class="mobile-title" [class.completed]="task.completed">{{task.title}}</div>
          </div>
          <div class="col-2 col-md-1 align-top mobile-check text-right">
            <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)"
                    *ngIf="!task.completed" mat-icon-button>
              <mat-icon (click)="$event.stopPropagation(); onToggleStatus(task)" class="check-icon-notcompleted">
                check_circle_outline</mat-icon>
            </button>
            <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)"
                    *ngIf="task.completed" mat-icon-button>
              <mat-icon (click)="$event.stopPropagation(); onToggleStatus(task)" class="check-icon-completed">
                check_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="mobile-info-inner col-12 align-top">
            <div [ngClass]="{'completed': task.completed}" class="mobile-category">
              <p [ngClass]="{'coategory': !task.completed && task.category}">
                {{task.category ? task.category.title : 'Without category'}}</p>
            </div>
            <div *ngIf="task.priority" class="mobile-priority">
              <p [ngClass]="{'priority': !task.completed, 'completed' : task.completed}"
                 [style.background-color]="getMobilePriorityBgColor(task)">
                {{task.priority.title}}</p>
            </div>
            <div [ngClass]="{'completed': task.completed}" class="mobile-date">
              {{task.date | taskDate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile && tasks.length == 0">
    <p class="not-found">Not Found</p>
  </div>
</div>

  </div>
