.completed{
  text-decoration: line-through;
  color: #0a6ebd;
}
.novalue{
  color: #adadad;
}
.col-id{
  width: 4%;
  text-align: center;
}
.col-title{
  width: 40%;
}
.col-priority{
  width: 10%;
}
.col-category{
  width: 10%;
}
.col-select{
  width: 3%;
}

.col-operations{
  width: 8%;
}
.col-color{
  width: 1% !important;
}
.col-date{
  width: 10% !important;
}
.delete-icon{
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.edit-icon{
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.mat-header-cell{
  font-size: 1.063rem;
  color: #9c27b0 !important;
  font-weight: normal;
}
