.completed{
  text-decoration: line-through;
  color: #0a6ebd !important;
  background-color: transparent !important;
}
.novalue{
  color: #adadad;
}
.col-id{
  width: 4%;
  text-align: center;
}
.col-title{
  width: 40%;
}
.col-priority{
  width: 10%;
}
.col-category{
  width: 10%;
}
.col-select{
  width: 3%;
}

.col-operations{
  width: 10%;
}
.col-color{
  width: 1% !important;
}
.col-date{
  width: 10% !important;
}
.delete-icon{
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.edit-icon{
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.mat-header-cell{
  font-size: 1.063rem;
  color: #9c27b0 !important;
  font-weight: normal;
}
.indexx{
  z-index: 1;
}
.card-mobile{
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.background-completed{
  background-color: #94ada7 !important;
}
.mobile-priority-top{
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mobile-title-inner{
  padding: 14px;
  padding-left: 15px;
  margin-left: 10px;
  padding-bottom: 0;
}
.mobile-info-inner{
  padding-bottom: 14px;
  padding-left: 15px;
  margin-left: 10px;
}
.mobile-category{
  float: left;
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  margin-left: 5px;
  color: #8e8e8e;
}
.mobile-priority{
  float: left;
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  margin-left: 5px;
  color: #8e8e8e;
}
.mobile-category p{
  margin: 0;
}
.mobile-category p.category, p.priority{
  display: inline;
  padding: 5px;
  background-color: rgba(227, 227, 227, 0.89);
  color: rgba(78, 78, 78, 0.89);
  border-radius: 4px;
}
.mobile-check{
  padding-top: 14px;
}
.mobile-date{
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 10px;
  color: #8e8e8e;
}
.mobile-title{
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.check-icon-notcompleted{
  font-size: 40px !important;
  color: #dadada;
}
.check-icon-completed{
  font-size: 40px !important;
  color: rgba(167, 214, 182, 0.89);
}
.reset-search{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
  color: rgba(5, 83, 123, 0.98);
  text-align: center;
}
div.card-mobile p{
  margin-bottom: 0 !important;
}
.nopadding-left{
  padding-left: 0;
}
.padding-top-20{
  padding-top: 10px;
}
.nowidth{
  width: 100%;
}
