/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";

.not-found{
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74,74,74, 0.98);
  text-align: center;
}
.pointer{
  cursor: pointer;
}
