<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="https://vsvdev.co.ua" class="simple-text logo-normal">
   VSVDev
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item pointer" *ngFor="let category of categories" (click)="showTasksByCategory(category)"
      [class.active]="category === selectedCategory">
        <a class="nav-link">
          <p>{{category.title}}</p>
        </a>
      </li>

    </ul>
  </div>
</div>

