<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <span class="nav-title">Categories</span>
    <span class="add-icon-area">
      <button mat-icon-button class="add-icon" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
            <!--search category-->
      <div class="search-category-area">
        <mat-form-field class="example-full-width">
          <input
          #inputSearchCategory
          (keydown.escape)="searchCategoryTitle = ''; search()"
          (keyup)="search()"
          [(ngModel)]="searchCategoryTitle"
          matInput maxlength="256" placeholder="Search category"/>
          <button
          (click)="searchCategoryTitle = ''; search()"
          *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
          class="search-category-button size25 gray"
          mat-button mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <li class="nav-item category" (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory === null">
        <a class="nav-link pointer">
          <span class="all-category-title">All</span>
        </a>
      </li>
                <!-- border -->
      <div class="line"></div>
      <div *ngIf="categories.length === 0">
        <p class="not-found">Not found</p>
      </div>

      <li class="nav-item pointer" (click)="showTasksByCategory(category)"
          *ngFor="let category of categories; let index = index"
      [class.active]="category === selectedCategory"
      (mouseleave)="showEditIcon(null)"
      (mouseenter)="showEditIcon(index)">
        <a class="nav-link">
          <!--category title-->
          <span class="category-title">{{category.title}}</span>
          <!--edit button-->
          <span class="edit-category-icon-area">
            <mat-icon class="edit-category-icon"
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)">edit</mat-icon>
          </span>
        </a>
      </li>

    </ul>
  </div>
</div>

